/* шрифт ==========================================================================*/
@font-face {
  font-family: "Optima";
  src: url("./fonts/OptimaLTPro-Roman.woff2") format("woff2");
  src: url("./fonts/OptimaLTPro-Roman.woff") format("woff");
}
/* шрифт====================================================================== 
в папці fonts цей шрифт є*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
label {
  color: #615f5f;
}
a {
  text-decoration: none;
  cursor: none;
}
li {
  list-style: none;
}
.body {
  font-family: Optima; /* шрифт ==================================================*/
  overflow-x: hidden;
  cursor: none;
  position: relative;
  background-color: #fbefdf;
}

.scrool-none {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
.blur-effect {
  /* filter: blur(7px); */
  pointer-events: none;
}
.close {
  display: none;
}
/* header========================================================================================= start */
.header {
  width: 100%;
  min-height: 88px;
  transition: all 0.5s ease;
  position: fixed;
  /*
  background-color: rgba(255, 255, 255, 0.81);
  */
  background-color: rgba(251, 239, 223, 0.81);
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(15px);
}
.fixed {
  border-bottom: 1px solid rgb(213, 210, 210);
}
.wrapper {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo img {
  width: 190px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  padding: 30px;
  display: flex;
  gap: 0 32px;
}
.link-menu {
  position: relative;
  padding: 15px 0;
  font-size: 1.325rem;
  font-weight: 500;
  color: rgb(21, 21, 21);
  transition: all 1s ease;
}
.link-menu::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #f96161;
  transition: all 1s ease;
}
.link-menu:hover {
  color: #f96161;
}
.link-menu:hover::before {
  width: 100%;
}
.link-button {
  font-size: 1.325rem;
  font-weight: 500;
  color: rgb(21, 21, 21);
  padding: 10px 20px;
}
.blue {
  margin-left: 32px;
  border-radius: 30px;
  background-color: #f96161;
  color: white;
  transition: all 0.5s ease-in;
}
.blue:hover {
  opacity: 0.5;
}

/* burger-menu=============================================================================== */
.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  align-items: center;
  display: none;
}
.line-burger-menu {
  width: 46px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}
.middle {
  width: 30px;
}
/* burger-menu=============================================================================== */
/* header========================================================================================= finish */
/* menu============================================================================================ start */
.main-menu-conatiner {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #fbefdf;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.static-text {
  font-size: 8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 220px; /* Відступ між статичним і анімованими текстами */
}

.main-menu-conatiner span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  transform: translateY(-40%);
  font-size: 8rem;
  font-weight: 800;
}

.btn-text-one {
  animation: slide-one 7s infinite;
  animation-delay: 3s;
  opacity: 0;
}

/* Анімація для другого тексту */
.btn-text-two {
  animation: slide-two 7s infinite;
  animation-delay: -2s;
  opacity: 0;
}
.visible {
  opacity: 1;
}

/* Анімація для першого тексту */
@keyframes slide-one {
  0%,
  25% {
    top: 150%;
    opacity: 0;
  }
  33%,
  50% {
    top: calc(40% + 50px); /* Враховуємо відступ з .static-text */
    opacity: 1;
  }
  58%,
  75% {
    top: -100%;
    opacity: 0;
  }
  76%,
  100% {
    top: 150%;
  }
}

/* Анімація для другого тексту */
@keyframes slide-two {
  0%,
  40% {
    top: 150%;
    opacity: 0;
  }
  50%,
  70% {
    top: calc(50% + 50px); /* Враховуємо відступ з .static-text */
    opacity: 1;
  }
  80%,
  100% {
    top: -100%;
    opacity: 0;
  }
}

.main-paragraph {
  margin-top: 45%;
  font-size: 2rem;
}

.top {
  padding-top: 100px;
}
/* kfffffffffffffffffffffffffffff */
/* Стиль для кастомного курсора */
.kursor {
  position: fixed;
  mix-blend-mode: difference;
  left: 0;
  top: 0;
  z-index: 19;
  width: 30px;
  height: 30px;
  background: #775c50;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease;
}

.zoomed {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid;
  mix-blend-mode: normal;
}
/* kfffffffffffffffffffffffffffff */
.about-us-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.about-us {
  margin-bottom: 16px;
  font-size: 2rem;
}
.about-us-title {
  margin-bottom: 40px;
  font-size: 5.5rem;
  font-weight: 700;
}
.about-us-paragraph {
  font-size: 20px;
  line-height: 28px;
}
/* slider======================================================================================== */
.swiper {
  height: 450px;
  margin: 100px;
  position: relative;
  padding-bottom: 100px !important;
}

.swiper-wrapper {
  margin-left: -22%;
}
.swiper-wrapper1 {
  position: relative;
  margin-left: 0 !important;
  margin: 150px 0;
  height: 450px;
  transition: all 5s ease;
}
.stop-animation {
  animation-play-state: paused !important;
}
.animation {
  animation: slide 30s linear infinite;
  animation-play-state: running;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
.foto {
  max-width: 560px !important;
  height: 100%;
}
.foto img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: contain;
}
.swiper-slide1 {
  padding: 18px;
  color: white;
  font-size: 18px;
  background: #fff;
  background-color: #9e4743;
  border-radius: 40px;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}
.myswiper {
  width: 100%;
  padding: 150px 0;
}

.fotо {
  width: 400px;
  border-radius: 50px !important;
}
.title-slider {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}
.paragraph-slider {
  font-size: 22px;
  line-height: 28px;
}
.new-button,
.new-button-next {
  position: absolute !important;
  z-index: 3 !important;
  width: 100px !important;
  height: 100px !important;
  color: black !important;
  background-color: white !important;
  border-radius: 50% !important;
  top: 37% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  opacity: 0;
  transition: opacity 0.3s ease !important;
  cursor: none !important;
}
.new-button::after,
.new-button-next::after {
  display: none !important;
}
.new-button {
  right: 5% !important;
  background-image: url(./images/стрелка-вправо.png);
}
.new-button-next {
  left: 5% !important;
  background-image: url(./images/стрелка-влево.png);
}
.opacity {
  opacity: 1;
}
.swiper-pagination {
  display: none;
}
.hidden {
  overflow: hidden;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////// */
/* about-us style */
.about-us-main {
  margin: 180px 0;
  display: flex;
  gap: 0 8%;
  align-items: center;
}
.about-us-text {
  width: 46%;
}
.about-us-main-title {
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 20px;
}
.about-us-main-paragraph {
  font-size: 22px;
  line-height: 30px;
}
.about-us-foto {
  width: 46%;
}
.about-us-foto img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: contain;
}

.scrool-block-coantainer {
  display: flex;
  gap: 0 40px;
  margin: 200px 0;
  position: sticky;
  top: 150px;
}

.right-wrapper {
  margin-left: auto;
}
.text-number-block {
  position: sticky;
  top: 150px;
  max-width: 980px;
  padding: 32px;
  border-radius: 30px;
  border: 1px solid black;
  margin-bottom: 20px;
  background-color: white;
}
.number-name-block {
  margin-right: 20px;
}
.text-block {
  display: block;
  margin-bottom: 15px;
}
.number-block {
  margin-right: 15px;
}

.number-text-block-wrapper {
  position: sticky;
  top: 150px;
  font-size: 20px;
  color: #2e2a2a;
  margin-bottom: 15px;
}
.number {
  font-size: 54px;
  font-weight: 900;
  color: rgb(102, 91, 91);
}
.titel-number-text-block {
  font-size: 54px;
  color: black;
  font-weight: 700;
  margin-top: -22px;
  margin-bottom: 40px;
}
.paragraph-number-text-block {
  font-size: 22px;
  color: black;
  line-height: 28px;
}
.one-block {
  z-index: 1;
}
.two-block {
  z-index: 2;
}
.three-block {
  z-index: 3;
}
/* navMenuStyles ===============================================================================================*/
.link-main-menu {
  position: relative;
  font-size: 32px;
  color: black;
  letter-spacing: 5px;
  transition: all 0.5s ease;
}
.link-main-menu::before {
  position: absolute;
  content: "";
  top: 40px;
  left: 0;
  height: 2px;
  background-color: #f96161;
  z-index: 1;
  width: 0;
  transition: all 0.5s ease;
}
.link-main-menu:hover {
  color: #f96161;
}

.link-main-menu:hover:before {
  width: 100%;
}

.menu {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fbefdf;
  display: none;
  overflow: hidden;
}
.transform-tranleteY {
  display: flex;
  z-index: 4;
}
.menu li {
  margin-bottom: 42px;
}
.wrap-menu {
  padding: 40px 380px 40px 0;
}
.color {
  color: #f96161;
}
.closest {
  position: absolute;
  bottom: 20%;
  right: 20%;
}
.button-closest {
  cursor: none;
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #f96161;
  color: white;
  transition: all 0.5s ease-in;
  font-size: 30px;
  transition: all 0.5s ease;
  border: none;
}
.button-closest:hover {
  opacity: 0.5;
}

/* forma================================================================================================== */ /* forma================================================================================================== */ /* forma================================================================================================== */
.form-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.549);
  display: none;
}
.display-blosk {
  display: flex;
}
.form-wrapper {
  background-color: #fbefdf;
  padding: 45px 100px;
  position: relative;
}
.form-close {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 2rem;
  font-weight: 900;
  padding: 15px;
}
.form-title {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
}
.form-paragraph {
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}
.forma-and-text {
  display: flex;
  gap: 0 80px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}
.paragrahp-link {
  color: #615f5f;
  font-size: 18px;
}

.link-form {
  margin-top: 10px;
  display: block;
  color: black;
  transition: all 0.3s ease;
}
.link-form:hover {
  text-decoration: underline;
}
.link-paragraph {
  text-decoration: none;
  line-height: 25px;
}
.link-paragraph:hover {
  text-decoration: none;
}
.forma {
  width: 50vw;
  cursor: none;
}
.group {
  position: relative;
  margin-bottom: 40px;
}

.input {
  width: 100%;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #615f5f;
  background: transparent;
}

.input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ label,
.input:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #615f5f;
}

.bar {
  position: relative;
  display: block;
  width: inherit;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #000000;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
.text-area {
  background-color: #fbefdf;
  border: none;
  border-bottom: 1px solid #615f5f;
  color: #615f5f;
  margin-top: 50px;
  width: 100%;
  outline: 0;
}
.text-area:focus ~ .textarea-lable {
  margin-top: -3px;
  font-size: 16px !important;
}
.textarea-lable {
  margin-top: 35px;
  font-size: 20px !important;
  color: #615f5f;
}
.next-lable {
  margin-top: -8px;
}
.big-margin {
  margin-top: 80px;
}
@keyframes inputHighlighter {
  from {
    background: #000000;
  }

  to {
    width: 0;
    background: transparent;
  }
}
.fom-button {
  padding: 10px 30px;
  background-color: #f96161;
  color: white;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  transition: all 0.3s ease;
}
.fom-button:hover {
  opacity: 0.5;
}
/* forma================================================================================================== */
/* adptiwe-screen======================================================================================== */ /* adptiwe-screen======================================================================================== */ /* adptiwe-screen======================================================================================== */
@media (max-width: 1270px) {
  .swiper-wrapper {
    margin-left: -10%;
  }
}
@media (max-width: 960px) {
  .nav-menu {
    flex-direction: column;
    gap: 50px 0;
    background-color: #fbefdf;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    height: 100vh;
    padding-top: 150px;
    transform: translateX(-100%);
    transition: all 0.4s ease;
  }
  .menu {
    top: 0;
  }
  .wrap-menu {
    padding: 100px 380px 40px 0;
  }
  .close {
    margin-left: auto;
    font-size: 34px;
    font-weight: 900;
    margin-top: -30%;
    display: block;
  }
  .class-transform {
    transform: translateX(0);
  }
  .link-menu {
    font-size: 34px;
  }
  .header-container {
    padding: 30px;
  }
  .link-none-small-screen {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .main-menu-conatiner span {
    font-size: 6rem;
  }
  .main-menu-conatiner {
    text-align: center;
  }
  .about-us-title {
    font-size: 4rem;
  }
  .swiper-wrapper {
    margin-left: -52%;
    height: 500px;
  }

  .swiper-pagination {
    position: absolute !important;
    bottom: 0% !important;
    z-index: 3;
    display: block;
  }
  .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    margin-left: 10px !important;
  }
  .swiper-pagination-bullet-active {
    background: #000000 !important;
  }
  .new-button,
  .new-button-next {
    display: none !important;
    opacity: 0 !important;
  }
}
@media (max-width: 700px) {
  .main-title {
    font-size: 5rem;
  }
}
@media (max-width: 600px) {
  .about-us-title {
    font-size: 3rem;
  }
  .title-slider {
    font-size: 28px;
  }
  .swiper-slide1 {
    padding: 20px 20px;
    font-size: 20px;
  }

  .main-menu-conatiner span {
    font-size: 3rem;
  }
  .main-paragraph {
    font-size: 1.5rem;
  }
  .logo a img {
    width: 150px;
  }
  .blue {
    font-size: 20px;
  }
  .header-container {
    padding: 30px 0;
  }
}
@media (max-width: 400px) {
  .main-menu-conatiner span {
    font-size: 2.5rem;
  }
  .about-us-title {
    font-size: 2rem;
  }
  .line-burger-menu {
    width: 30px;
  }
  .middle {
    width: 15px;
  }
  .blue {
    margin-left: 5px;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-800%);
    }
  }
}
/* adptiwe-screen about-us======================================================================================== */ /* adptiwe-screen about-us======================================================================================== */ /* adptiwe-screen about-us======================================================================================== */
@media (max-width: 1100px) {
  .about-us-main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    position: relative;
  }
  .about-us-foto {
    width: 90%;
    order: 2;
    display: flex;
  }
  .about-us-text {
    display: flex;
    flex-direction: column;

    width: 90%;
  }
  .about-us-main-title {
    display: flex;
    order: 1;
  }

  .about-us-main-paragraph {
    position: absolute;
    bottom: -280px;
    left: 0;
  }
  .next {
    padding-top: 100px;
  }
  .scrool-block-coantainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    margin-left: 20px;
  }
  .number-name-block {
    margin-right: 0;
  }
  .right-wrapper {
    margin-left: 0;
  }
  .number-text-block-wrapper {
    margin-right: auto;
  }
}
@media (max-width: 850px) {
  .forma-and-text {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 80px 0;
  }
  .form-wrapper {
    padding: 45px;
  }
  .forma {
    width: 85vw;
  }
  .text {
    flex-direction: row;
    gap: 0 60px;
  }
  .kursor {
    display: none;
  }
  .body {
    cursor: default;
  }
  .titel-number-text-block {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .text-number-block {
    margin-bottom: 5%;
  }
  .next {
    padding-top: 150px;
  }
}
@media (max-width: 600px) {
  .main-menu-conatiner {
    margin-top: 10%;
  }
  .main-paragraph {
    margin-top: 70%;
  }
  .static-text {
    margin-bottom: 10%;
  }
  .about-us-foto {
    margin-bottom: 50px;
  }
  .about-us-main-paragraph {
    margin-bottom: -60px;
  }
  .animation {
    animation: slide 15s linear infinite;
    animation-play-state: running;
  }
  .next {
    padding-top: 200px;
  }
  .foto {
    width: 70% !important;
  }
  .top {
    padding-top: 50px;
  }
  .about-us-container {
    margin-top: 0;
  }
  .hidden {
    overflow: hidden;
    margin-top: -50px;
  }
}
@media (max-width: 450px) {
  .about-us-main-paragraph {
    margin-bottom: -100px;
  }
  .input:focus ~ label,
  .input:valid ~ label {
    top: 0px;
  }
  .next-lable {
    margin-top: -15px !important;
  }
  .form-close {
    right: 1%;
    top: 1%;
    font-size: 1rem;
  }
  .form-wrapper {
    padding: 20px;
  }
  .paragrahp-link {
    font-size: 14px;
  }
  .link-form {
    font-size: 12px;
  }
  .forma-and-text {
    gap: 10px 0;
  }
  .group {
    margin-bottom: 20px;
  }
  .big-margin {
    margin-top: 30px;
  }
  .text {
    gap: 25px;
  }
  .link-paragraph {
    line-height: 15px;
  }
  .link-form {
    margin-top: 5px;
  }
  .text-area {
    margin-top: 15px;
  }
  .form-title {
    margin-bottom: 15px;
    font-size: 3rem;
  }
  .form-paragraph {
    margin-bottom: 25px;
  }
  .textarea-lable {
    font-size: 12px !important;
  }
  .next {
    padding-top: 300px;
  }
  .closest {
    right: 10%;
  }
  .button-closest {
    padding: 10px 30px;
    font-size: 28px;
    border: none;
  }
  .about-us-foto {
    margin-bottom: 100px;
  }
}
@media (max-width: 450px) {
  .about-us-main-paragraph {
    margin-bottom: -130px;
  }

  .animation {
    animation: slide 50s linear infinite;
    animation-play-state: running;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2000%);
    }
  }
}
@media (max-width: 360px) {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2000%);
    }
  }
  .animation {
    animation: slide 50s linear infinite;
    animation-play-state: running;
  }
}

@media (max-width: 650px) {
  .menu {
    padding-left: 50px;
    padding-right: 150px;
  }
}
